EXPO_PUBLIC_GEMINI_API_KEY="AQ...."  # klucz z https://aistudio.google.com/apikey
EXPO_PUBLIC_OFF_USERNAME="..."  # login z https://pl.openfoodfacts.org/
EXPO_PUBLIC_OFF_PASSWORD="..."  # hasło z https://pl.openfoodfacts.org/
